#logs/**

shared_volume/__pycache__/**

shared_volume/jacamo/jacamo_model/.gradle/**
shared_volume/jacamo/jacamo_model/build/**

shared_volume/jacamo/jacamo_model/mas.log
shared_volume/jacamo/jacamo_model/mas.log.lck

shared_volume/jacamo/jacamo_model/src/agt/list/**
# exception to the rule
!shared_volume/jacamo/jacamo_model/src/agt/list/.gitkeep

shared_volume/netlogo_output/m1_alive.txt
shared_volume/netlogo_output/m1_output.txt
shared_volume/netlogo_output/m2_alive.txt
shared_volume/netlogo_output/m2_output.txt
shared_volume/jacamo/jacamo_model/mas.log
shared_volume/jacamo/jacamo_model/mas.log.lck

shared_volume/netlogo_output/tests/**
# exception to the rule
!shared_volume/netlogo_output/tests/modelo.html


#shared_volume/netlogo_output/**
# exception to the rule
#!shared_volume/netlogo_output/.gitkeep