#logs/**

shared_volume/__pycache__/**

shared_volume/jacamo/integra_gold_miners/.gradle/**
shared_volume/jacamo/integra_gold_miners/build/**

shared_volume/jacamo/integra_gold_miners/mas.log
shared_volume/jacamo/integra_gold_miners/mas.log.lck

shared_volume/jacamo/integra_gold_miners/src/agt/list/**
# exception to the rule
!shared_volume/jacamo/integra_gold_miners/src/agt/list/.gitkeep

shared_volume/important/m1_alive.txt
shared_volume/important/m1_output.txt
shared_volume/important/m2_alive.txt
shared_volume/important/m2_output.txt
shared_volume/jacamo/integra_gold_miners/mas.log
shared_volume/jacamo/integra_gold_miners/mas.log.lck

shared_volume/important/tests/**
# exception to the rule
!shared_volume/important/tests/modelo.html


#shared_volume/important/**
# exception to the rule
#!shared_volume/important/.gitkeep